@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0;
    color: rgb(100, 112, 108);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 600;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}

b, strong {
	font-weight: 600;
}

h1, h2, h3 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

h4, h5, h6 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

p {
	margin-bottom: 1rem;
}